@font-face {
  font-family: "Bagoss";
  src: url("/src/assets/fonts/BagossExtendedTRIAL-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bagoss";
  src: url("/src/assets/fonts/BagossExtendedTRIAL-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bagoss";
  src: url("/src/assets/fonts/BagossExtendedTRIAL-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Bagoss";
  src: url("/src/assets/fonts/BagossExtendedTRIAL-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bagoss";
  src: url("/src/assets/fonts/BagossExtendedTRIAL-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bagoss";
  src: url("/src/assets/fonts/BagossExtendedTRIAL-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
